/* src/pages/About.css */
.about-container {
  text-align: center;
  padding: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.about-container.dark {
  background-color: transparent;
  color: #333;
}

.about-container.light {
  background-color: transparent;
  color: #e26b48;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

.tech-stack .tech {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  background-color: #333;
  color: white;
  border-radius: 5px;
  font-size: 0.9em;
}

.tech-stack .tech img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.chart-container {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 20px;
}

.chart-container canvas {
  width: 100% !important;
  height: auto !important;
}

/* Responsive Design */
@media (max-width: 768px) {
  .about-container h1 {
    font-size: 2em;
  }

  .about-container p {
    font-size: 1em;
  }

  .layout-container {
    flex-direction: column;
    align-items: center;
  }

  .tech-stack {
    justify-content: center;
  }

  .chart-container {
    max-width: 100%;
    padding: 10px;
    width: 90vw; /* Ensure the chart container is wide */
  }

  .chart-container canvas {
    width: 100% !important; /* Ensure the chart uses full width of the container */
    height: auto !important;
  }
}

/* Desktop Layout */
.layout-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.layout-container .tech-stack {
  width: 100%;
}

.layout-container .chart-container {
  width: 100%;
}
