/* src/pages/Contact.css */
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  padding: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-container.dark {
  background-color: transparent; /* Ensure it doesn't override the App's background image */
  color: #333;
}

.contact-container.light {
  background-color: transparent; /* Ensure it doesn't override the App's background image */
  color: #943c64;
}

.contact-title {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.contact-description {
  font-size: 1.2em;
  margin-bottom: 20px;
  padding: 0 20px;
}

.contact-socials {
  font-size: 1.5em;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.social-icons a {
  color: inherit;
  font-size: 2em;
  transition: color 0.3s ease;
}

.social-icons.dark a:hover {
  color: #943c64; /* Change to your preferred hover color */
}

.social-icons.light a:hover {
  color: #333; /* Change to your preferred hover color */
}
/* Responsive Design */
@media (max-width: 768px) {
  .contact-title {
    font-size: 2em;
  }

  .contact-description {
    font-size: 1em;
  }

  .contact-socials {
    font-size: 1.2em;
  }

  .social-icons {
    flex-direction: column;
    gap: 10px;
  }

  .social-icons a {
    font-size: 1.5em;
  }
}
