/* src/components/Footer.css */
.footer {
  text-align: center;
  padding: 20px;
  background-color: rgba(51, 51, 51, 0.5); /* Default to dark mode */
  color: #333;
  position: fixed;
  width: 100%;
  bottom: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.footer.light {
  background-color: rgba(255, 255, 255, 0.5); /* 50% transparent for light mode */
  color: rgb(219, 58, 58);
}

.footer.dark {
  background-color: rgba(51, 51, 51, 0.5); /* 50% transparent for dark mode */
  color: #333;
}
