/* src/components/Header.css */
.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px; /* Adjust padding */
  background-color: rgba(51, 51, 51, 0.5); /* Default to dark mode */
  height: 60px; /* Set a fixed height for the header */
  z-index: 1000; /* Ensure header stays on top */
}

.home-header.light {
  background-color: rgba(255, 255, 255, 0.5); /* 50% transparent for light mode */
  color: #333;
}

.home-header.dark {
  background-color: rgba(51, 51, 51, 0.5); /* 50% transparent for dark mode */
  color: white;
}

.home-header h1 {
  margin: 0;
  font-size: 1.5em; /* Adjusted font size */
  color: inherit;
}

.home-header nav {
  margin-left: auto; /* Align the navigation to the right */
  position: relative;
}

.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
  height: 100%; /* Make the nav take the full height of the header */
}

.nav-links li {
  margin: 0;
  display: flex;
  align-items: center; /* Center items vertically */
  height: 100%; /* Make the li take the full height of the nav */
}

.nav-links li a {
  color: inherit;
  text-decoration: none;
  padding: 0 15px; /* Horizontal padding only */
  border-radius: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center; /* Center text vertically */
  height: 100%; /* Make the a take the full height of the li */
  line-height: 60px; /* Match the height of the header for vertical centering */
}

.nav-links li a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #333;
}

.nav-links li .active-link {
  background-color: rgba(255, 255, 255, 0.7);
  color: #333;
}

.nav-links li .active-link.dark {
  background-color: rgba(255, 255, 255, 0.7);
  color: #333;
}

.nav-links li .active-link.light {
  background-color: rgba(51, 51, 51, 0.7);
  color: white;
}

.toggle-bg-button {
  border: none;
  background: none;
  padding: 15px 0;
  font-size: 1.5em;
  cursor: pointer;
  margin-left: 10px; /* Add margin to the left of the toggle button */
}

.toggle-bg-button.dark {
  color: white;
}

.toggle-bg-button.light {
  color: #333;
}

.mobile-menu-icon {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
}

/* Mobile view */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.9);
    position: fixed; /* Change from absolute to fixed */
    top: 60px; /* Below the header */
    left: 0;
    padding: 20px 0;
    z-index: 1000; /* Ensure the menu is on top */
    height: calc(100vh - 60px); /* Ensure it covers the remaining viewport height */
    overflow-y: auto; /* Enable scrolling if needed */
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 15px 0;
  }

  .mobile-menu-icon {
    display: block;
    color: inherit;
  }
}
