/* src/components/Header.css */
.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(51, 51, 51, 0.5); /* Default to dark mode */
}

.home-header.light {
  background-color: rgba(255, 255, 255, 0.5); /* 50% transparent for light mode */
  color: #333;
}

.home-header.dark {
  background-color: rgba(51, 51, 51, 0.5); /* 50% transparent for dark mode */
  color: white;
}

.home-header h1 {
  margin: 0;
}

.home-header nav {
  margin-left: auto; /* Align the navigation to the right */
}

.home-header nav .menu-toggle {
  display: none;
  font-size: 1.5em;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

.home-header nav .nav-overlay {
  display: none;
}

.home-header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

.home-header nav ul li {
  margin: 0 10px;
}

.home-header nav ul li a {
  color: inherit;
  text-decoration: none;
}

.home-header nav ul li a:hover {
  text-decoration: underline;
}

.toggle-bg-button {
  border: none;
  background: none;
  font-size: 1.5em;
  cursor: pointer;
  margin-left: 10px; /* Add margin to the left of the toggle button */
}

.toggle-bg-button.dark {
  color: white;
}

.toggle-bg-button.light {
  color: #333;
}

/* Responsive styles */
@media (max-width: 768px) {
  .home-header nav .menu-toggle {
    display: block;
  }

  .home-header nav .nav-overlay {
    display: none;
  }

  .home-header nav ul {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    background: rgba(51, 51, 51, 0.95);
    display: none;
    padding-top: 60px;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
  }

  .home-header nav ul.open {
    display: flex;
    transform: translateX(0);
  }

  .home-header nav .nav-overlay.open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  .home-header nav ul li {
    margin: 20px 0;
    text-align: center;
  }

  .home-header nav ul li a {
    font-size: 1.2em;
  }

  .home-header nav ul li button.toggle-bg-button {
    font-size: 1.2em;
    margin: 20px 0;
  }
}
