.home-container {
  text-align: center;
  padding: 20px;
}

.home-container.dark {
  color: white;
}

.home-container.light {
  color: black;
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  flex-direction: column;
}

.home-text {
  flex: 1;
  padding: 20px;
}

.home-text h1 {
  font-size: 3em;
  margin: 0;
}

.home-text h2 {
  font-size: 2em;
  font-weight: bold;
}

.typewriter-container {
  display: inline-flex;
  align-items: center;
}

.typewriter {
  font-weight: bold;
}

.home-buttons {
  margin-top: 20px;
}

.btn-primary, .btn-secondary {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary.dark, .btn-secondary.dark {
  background-color: #333;
  color: white;
}

.btn-primary.light, .btn-secondary.light {
  background-color: white;
  color: #333;
  border: 1px solid #333;
}

.btn-primary.dark:hover, .btn-secondary.dark:hover {
  background-color: white;
  color: #333;
}

.btn-primary.light:hover, .btn-secondary.light:hover {
  background-color: #333;
  color: white;
}

.home-image {
  flex: 1;
  padding: 20px;
}

.home-image img {
  max-width: 55%;
  height: auto;
}

@media (max-width: 768px) {
  .home-content {
    flex-direction: column;
    height: auto;
  }

  .home-text h1 {
    font-size: 2em;
  }

  .home-text h2 {
    font-size: 1.5em;
  }

  .home-buttons {
    flex-direction: column;
  }

  .home-image img {
    max-width: 80%;
    display: none; /* Hide on mobile */
  }
}
