/* src/pages/Home.css */
.home-container {
  text-align: center;
  padding: 20px;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px;
}

.home-header.light {
  background-color: white;
  color: #333;
}

.home-header h1 {
  margin: 0;
}

.home-header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.home-header nav ul li {
  margin: 0 10px;
}

.home-header nav ul li a {
  color: inherit;
  text-decoration: none;
}

.home-header nav ul li a:hover {
  text-decoration: underline;
}

.toggle-bg-button {
  border: none;
  background: none;
  font-size: 1.5em;
  cursor: pointer;
}

.toggle-bg-button.dark {
  color: white;
}

.toggle-bg-button.light {
  color: #333;
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  flex-direction: column;
}

.home-text {
  flex: 1;
  padding: 20px;
}

/* .home-text.dark {
  background-color: #333;
  color: white;
}

.home-text.light {
  color: #333;
  background-color: white;
} */
.home-text h1 {
  font-size: 3em;
  margin: 0;
}

.home-text h2 {
  font-size: 2em;
  font-weight: bold;
}

.typewriter-container {
  display: inline-flex;
  align-items: center;
}

.typewriter {
  font-weight: bold;
}

.home-buttons {
  margin-top: 20px;
}

.btn-primary, .btn-secondary {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary.dark, .btn-secondary.dark {
  background-color: #333;
  color: white;
}

.btn-primary.light, .btn-secondary.light {
  background-color: white;
  color: #333;
  border: 1px solid #333;
}

.btn-primary.dark:hover, .btn-secondary.dark:hover {
  background-color: white;
  color: #333;
}

.btn-primary.light:hover, .btn-secondary.light:hover {
  background-color: #333;
  color: white;
}

.home-image {
  flex: 1;
  padding: 20px;
}

.home-image img {
  max-width: 55%;
  height: auto;
}

.home-container.dark .home-text h1,
.home-container.dark .home-text h2 {
    color: white; /* Text color for dark mode */
}

.home-container.light .home-text h1,
.home-container.light .home-text h2 {
    color: #333; /* Text color for light mode */
}

/* Responsive Design */
@media (max-width: 768px) {
  .home-header {
    flex-direction: column;
  }

  .home-header nav ul {
    flex-direction: column;
    align-items: center;
  }

  .home-header nav ul li {
    margin: 10px 0;
  }

  .home-content {
    flex-direction: column;
    height: auto;
  }

  .home-text h1 {
    font-size: 2em;
  }

  .home-text h2 {
    font-size: 1.5em;
  }

  .home-buttons {
    flex-direction: column;
  }

  .home-image img {
    max-width: 80%;
  }
}
