/* src/components/Footer.css */
footer.dark {
  background-color: #333;
  color: white;
}

footer.light {
  background-color: white;
  color: #333;
}

footer {
  padding: 10px;
  text-align: center;
}
