/* src/App.css */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App .home-header {
  margin-bottom: auto;
}

.App .home-content {
  flex: 1;
}

.App .footer {
  margin-top: auto;
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.App.light .footer {
  background-color: white;
  color: #333;
}
