/* src/App.css */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App .home-header {
  margin-bottom: auto;
}

.App .home-content {
  flex: 1;
}

.App .footer {
  margin-top: auto;
}

.home-header.dark {
  background-color: #333;
  color: white;
}

.home-header.light {
  background-color: white;
  color: #333;
}

.toggle-bg-button.dark {
  color: white;
}

.toggle-bg-button.light {
  color: #333;
}
